body {
    background: rgba(0, 0, 0, 0);
    margin: 0;
    padding: 0 !important;
}

h1 {
	font-family: 'Roboto Condensed', Arial, sans-serif;
	width: 100%; 
	text-align: center; 
	color: black;
	margin: auto;
	padding: 5em;
}

#intro-name {
	text-align: right
}

#intro-name #text-background {
	padding: 0.25em;
	background-color: white;
	border-radius: 25%;
}

h2 {
	max-width: 350px;
	font-family: 'Roboto Condensed', Arial, sans-serif;
	width: 100%; 
	text-align: center; 
	border-bottom: 3px solid #000; 
	line-height: 0.1em;
	margin: 0 auto 2.5em;
	color: black;
}


.section {
    width: 100%;
	min-height: 100vh;
	height: auto;
    background-size: cover;
	padding-top: 5%;
}

/* Section one*/
.first-section {
	background: url(NOLA.jpg) no-repeat center center fixed; 
    background-color: #a13d61; 
}



/* Section two */

.second-section {
    background-color: rgba(246,246,246,1);
}

.second-section h2 span { 
    background:rgba(246,246,246,1);
    padding:0 10px; 
}

/* Job logos and descriptors */
#items {
	padding-bottom: 3em;
}
.role {
	min-height: 15em;
	height: auto;
	width: 55em;
	margin: 1em auto;
}

.role-image {
	background-color: white;
	border-radius: 10%;
	height: 13em;
	width: 40%;
	float: left;
	overflow: hidden;
	margin: 1em;
	margin-top: 1.5em;
	display: flex;
	align-items: center;
}

.role-image img {
	width: 100%;
	height: 100%;
	margin: auto;
}

.role-description {
	min-height: 95%;
	height: auto;
	overflow: hidden;
	margin-left: 1em;
}

.role-description h3 {
	color: rgb(18, 97, 160);
	font-family: 'Roboto', Arial, sans-serif;
	font-weight: 200;
}
.role-description h4 {
	color: #a13d61;
}

/* Overlay CSS */

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 60%;
	height: 0%;
	margin-left: 20%;
	margin-top: 1%;
	z-index: 3;
	background-color: rgba(249,249,249, 0.98);
	overflow: hidden;
	

  }
  
  .overlay-content {
	top: 10%;
	padding-bottom: 8%;
	position: relative;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
  }

  .overlay .role-image {
	background-color: white;
	border-radius: 10%;
	height: 9em;
	width: 20%;
	float: left;
	margin: 1em;
	display: flex;
	align-items: center;
}
  .overlay .closebtn:hover, .overlay .closebtn:focus {
	color: #f1f1f1;
  }
  
  .overlay .closebtn {
	position: absolute;
	right: 45px;
	font-size: 60px;
	text-decoration: none;
	color: #818181;
	display: block;
	transition: 0.3s;
  }
  
  /* @media screen and (max-height: 450px) {
	.overlay {overflow-y: auto;}
	.overlay a {font-size: 20px}
	.overlay .closebtn {
	font-size: 40px;
	top: 15px;
	right: 35px;
	}
  } */

/* Section three */

.third-section {
    background-color: rgba(218, 223, 225, 1)
}

.third-section h2 span { 
    background: rgba(218, 223, 225, 1);
    padding:0 10px; 
}

.third-section p {
	color: black;
	max-width: 650px;
	font-family: 'Roboto Condensed', Arial, sans-serif;
	width: 100%; 
	text-align: center; 
	margin: 0 auto 50px;
	font-size: 120%;
	
}

/* Tecxt & pictures in third section */

.row {
	width: 50%;
	display: flex;
	margin: 0 auto;
height: 400px;
  }
  
.album_container {
	position: relative;
	margin: 1em;
 	max-width: 250px;
	width: 70%;
	max-height: 250px;
	height: 70%; 
	margin: 0 auto; 

}
   
.picture {
	width: 100%;
	height: 100%;
	box-shadow: -5px 5px 5px #aaa;
}
	
.front {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 2;
}

	.back {
		position: absolute;
	width: 100%;
	height: 100%;
	padding: 10px; 
	color: white;
	text-align: center;
	background-color: rgb(170, 170, 170);
	z-index: 1;
	}

	.back p {
	  margin: 0.25em;
	}

  .fa {
	position: relative;
	margin-bottom: 50%;
	font-size: 1.8em;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #FFF;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	border-radius: 50%;	
  }

  .fa:hover, .fa:active {
	-webkit-box-shadow: 1px 1px 3px #333;
	-moz-box-shadow: 1px 1px 3px #333;
	box-shadow: 1px 1px 3px #333;
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}

 /* Contact section */

 .contact-section {
	background-color:white;
	min-height: 50vh;
}

.contact-section h2 span { 
    background: white;
    padding:0 10px; 
}

.contact-section p {
	color: black;
	max-width: 650px;
	font-family: 'Roboto Condensed', Arial, sans-serif;
	width: 100%; 
	text-align: center; 
	margin: 0 auto 50px;
	font-size: 120%;
	
}


#socialicons {
	font-size: 0;
	text-align: center;
}

.icon {
  height: 10em;
  width: 12em;
  display: inline-block;
  font-size: medium;
	text-align: left;
	margin-bottom: 5em;

  -webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.icon:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}

.icon img {
	width: 100%;
	height: 100%;
	margin: auto;
}



